@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: black;
  color: white;
}

.min-height-contet-box {
  min-height: 87.2vh;
}
